<header>


</header>

<body>
    <div class="signup">
        <h1><img src="../static/files/home.png" href="/" class="home" width="50px" height="50px">Sign_up Page</h1>
        <div class="signup_form">
            <div class="signup_box">
                <div>
                    * ID : 6~20자 영어/숫자 혼합
                    <input type="text" placeholder="아이디 입력" id="signup_id" class="text" autocomplete="off" maxlength="20">
                </div>
                <div>
                    * PW : 30자 미만
                    <input type="password" placeholder="비밀번호 입력" id="signup_pw" class="text" autocomplete="off" maxlength="30">
                </div>
                <div>
                    * PW check :
                    <input type="password" placeholder="비밀번호 확인" id="signup_pw2" class="text" autocomplete="off" maxlength="30">
                </div>
                <div>
                    * E-mail : 특수문자 X / ex) look@sejong.com
                    <input type="text" placeholder="이메일 입력" id="signup_email" class="text" autocomplete="off" maxlength="30">
                </div>
                <div>
                    * Name : 특수문자 X / 20자 미만 / ex) 임세종
                    <input type="text" placeholder="이름 입력" id="signup_name" class="text" autocomplete="off" maxlength="20">
                </div>
                <div>
                    * Nickname : 20자 미만
                    <input type="text" placeholder="닉네임 입력" id="signup_nickname" class="text" autocomplete="off" maxlength="20">
                </div>
                <div>
                    Gender :
                    <input type="radio" name="gender" value="1" checked>남
                    <input type="radio" name="gender" value="2">여
                </div></br>
                <div>
                    Birth : 8자리 ex)19970101
                    <input type="text" placeholder="생년월일 입력" id="signup_birth" maxlength="8" class="text" autocomplete="off"> 
                </div>
                <div>
                    프로필 사진 :
                    <input type="file" class="modal_image" id="signup_photo" accept="image/*"
                        onchange="image_load(event);" value="../files/user_image1.jpg"/>          
                    <div id="modal_image_container"></div>
                </div></br>
                <button id="signup_button" class="signup_btn">회원가입</button>
            </div>
        </div>
    </div>
</body>


<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="../static/css/signup.css">
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="../static/js/signup.js"></script>